:root {
    --black-color: #333333;
    --darkgrey-color: #8f8f8f;
    --lightgrey-color: #bdbdbd;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 1rem auto;
    max-width: 1500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    width: 90%;
    margin: 0rem auto;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.header {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: var(--black-color);
    display: flex;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 5rem auto;
}

.content-img {
    display: flex;
    place-items: center;
}

.content-img img {
    width: 80%;
    margin: 0 auto;
}

.content-info h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
    letter-spacing: -0.035em;
    color: var(--black-color);
}

.content-info p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: -0.035em;
    color: var(--darkgrey-color);
    width: 70%;
    margin: 2rem 0rem;
}

.content-info button {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.3rem;
    letter-spacing: -0.035em;
    color: var(--white-color);
    background-color: var(--black-color);
    border: none;
    padding: 1.5rem 3rem;
    cursor: pointer;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--lightgrey-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon a {
    color: var(--lightgrey-color);
    margin: 0.5rem; 
    /* why margin doesn't apply to top and bottom */
}

@media (max-width: 900px) {
    body {
        margin: 0rem auto;
    }

    .container {
        grid-template-rows: 1fr 10fr 1fr;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin: 2rem auto;
    }

    .content-img img {
        width: 100%;
    }

    .content-info h1 {
        font-size: 3rem;
    }

    .content-info p {
        font-size: 1.2rem;
        width: 100%;
        margin: 2rem auto;
    }

    .content-info button {
        margin: 1rem 0rem 3rem 0rem;
    }
}